* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  list-style: none;
}
body {
  background-color: #2f3035;
  @include mixins.breakpoint(900px) {
    background-color: #121212;
  }
}
