/* SECTIONS GRID*/
.one {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "article articles";

  .size-2 {
    height: 300px;
    padding: 30px;
    background-color: #777;
    grid-area: article;
  }
  .size-3 {
    padding: 30px;
    background-color: rgb(190, 190, 190);
    grid-area: articles;
  }
}
.two {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "article articles";

  .size-2 {
    height: 300px;
    padding: 30px;
    background-color: #777;
    grid-area: articles;
  }
  .size-3 {
    padding: 30px;
    background-color: rgb(114, 41, 41);
    grid-area: article;
  }
}
.three {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "texte img";
  .size-1 {
    padding: 30px;
    height: 200px;
    background-color: rgb(80, 71, 71);
    grid-area: texte;
  }
  .size-4 {
    padding: 30px;
    height: 200px;
    background-color: rgb(190, 190, 190);
    grid-area: img;
  }
}
