/* SECTION cards */

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  article {
    width: 500px;
    margin: 50px;
    border-radius: 50px;
    background: #2f3035;
    box-shadow: inset 32px 32px 50px #28292d, inset -32px -32px 50px #36373d;
    img {
      width: 100%;
      border-radius: 50px 50px 0 0;
    }
  }
  .card-sub-t {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

/* TEXTE */

.contentcards {
  padding: 5px;
  div {
    text-align: center;
  }
  .Titre {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 42px;
    padding: 0 0 24px 0;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
  .card-sub-t {
    font-size: 18px;
    color: #cecbcb;
  }
}
.Titre::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #818a91;
  margin: 0 auto;
  margin-top: 24px;
}

/* BUTTON */

.button {
  margin-top: 60px;
  margin-bottom: 60px;
  transition: transform 0.5s;
  a {
    border: 3px solid #cecbcb;
    padding: 8px 45px;
    text-transform: uppercase;
    color: #818a91;
    transition: background-color 0.5s;
    text-decoration: none;
  }
}

.button a:hover {
  background-color: #cecbcb;
}

.button:hover {
  transform: scale(1.1);
}
