/*#timeline {
  background-image: url(../img/vieux-mouf.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10rem 2rem 8rem 2rem;
  color: #fff;
}
#timeline_2 {
  background-image: url(../img/mouf1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10rem 2rem 8rem 2rem;
  color: #fff;
}
#timeline_3 {
  background-image: url(../img/mouf2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10rem 2rem 8rem 2rem;
  color: #fff;
}
#timeline_4 {
  background-image: url(../img/mouf3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10rem 2rem 8rem 2rem;
  color: #fff;
}*/
