.timeline {
  position: relative;
  width: 600px;
  margin: 150px auto 0 auto;
  .text-wrapper {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    margin: 50px 0;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }
  .text-time {
    padding: 15px 15px 15px 17px;
    background-color: #fff;
    border-radius: 4px;
    .sur-titre {
      color: gray;
      font-weight: 300;
      font-size: 35px;
      margin-top: 2px;
    }
    .date {
      text-transform: uppercase;
      font-size: 14px;
      color: black;
      letter-spacing: 1px;
    }
    .history {
      color: gray;
      font-weight: 300;
      font-size: 18px;
      margin-top: 2px;
    }
  }
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(129, 42, 42);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.text-wrapper::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: rgb(216, 24, 24);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
