#burger {
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px;
  a {
    color: #fff;
    font-size: 10px;
  }
}

/* MENU */

#menu {
  position: relative;
  a {
    font-size: 20px;
  }
  i {
    padding-right: 8px;
    transition: 0.2s;
  }
}

.sousMenu {
  width: 60px;
  background-color: #26272b;
  border-radius: 2px;
  padding: 30px 90px;
  position: absolute;
  right: 0;
  margin: 0;
  display: none;
  a {
    color: rgba(137, 137, 137, 0.067);
    line-height: 70px;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }
}

#menu .sousMenu a:hover {
  color: #737373;
  padding-left: 5px;
}

#menu:hover .sousMenu {
  display: block;
}

#menu:hover .fas {
  transform: rotate(-90deg);
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}
