header {
  width: 100%;
  position: absolute;
}
header .nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  width: 100%;
}
header .nav .title {
  font-size: 30px;
  color: #fff;
}
header .nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  padding: inherit;
}
header .nav ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 500;
}
header .nav ul a:hover {
  color: #818a91;
}

.desc {
  height: 80px;
  width: 100%;
  background-color: #818a91;
}

/* BANNER */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(img/vieux-mouf.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* FILTRE BC-IMG BANNER */
.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #26272b;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
}

h1,
.banner p,
header {
  z-index: 1;
}

/* SECTION cards */
#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}
#cards article {
  width: 500px;
  margin: 50px;
  border-radius: 50px;
  background: #2f3035;
  box-shadow: inset 32px 32px 50px #28292d, inset -32px -32px 50px #36373d;
}
#cards article img {
  width: 100%;
  border-radius: 50px 50px 0 0;
}
#cards .card-sub-t {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

/* TEXTE */
.contentcards {
  padding: 5px;
}
.contentcards div {
  text-align: center;
}
.contentcards .Titre {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 42px;
  padding: 0 0 24px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.contentcards .card-sub-t {
  font-size: 18px;
  color: #cecbcb;
}

.Titre::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #818a91;
  margin: 0 auto;
  margin-top: 24px;
}

/* BUTTON */
.button {
  margin-top: 60px;
  margin-bottom: 60px;
  transition: transform 0.5s;
}
.button a {
  border: 3px solid #cecbcb;
  padding: 8px 45px;
  text-transform: uppercase;
  color: #818a91;
  transition: background-color 0.5s;
  text-decoration: none;
}

.button a:hover {
  background-color: #cecbcb;
}

.button:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  list-style: none;
}

body {
  background-color: #2f3035;
}
@media screen and (max-width: 900px) {
  body {
    background-color: #121212;
  }
}

/* SECTIONS GRID*/
.one {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "article articles";
}
.one .size-2 {
  height: 300px;
  padding: 30px;
  background-color: #818a91;
  grid-area: article;
}
.one .size-2 .title-marche {
  color: #fff;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.one .size-2 .text-marche {
  font-size: 18px;
  line-height: 31px;
  color: #f2f2f2;
  font-weight: 300;
  text-align: center;
}
.one .size-3 {
  padding: 30px;
  background-color: #818a91;
  grid-area: articles;
  background-image: url(../img/marche1.png);
  background-size: cover;
}

.two {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "article articles";
}
.two .size-2 {
  height: 600px;
  padding: 30px;
  background-color: #f2f2f2;
  grid-area: articles;
}
.two .size-2 .title-resto {
  color: #26272b;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 130px;
}
.two .size-2 .text-resto {
  font-size: 18px;
  line-height: 31px;
  color: #282828;
  font-weight: 300;
  text-align: center;
}
.two .size-3 {
  padding: 30px;
  background-color: #f2ece1;
  background-image: url(../img/resto-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: article;
}

.shop {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.shop .div1 {
  grid-area: 1/1/2/2;
  height: 200px;
  background-color: #2b697a;
  padding-top: 50px;
}
.shop .div1 .title-shop {
  color: #fff;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.shop .div1 .text-shop {
  font-size: 18px;
  line-height: 31px;
  color: #f2f2f2;
  font-weight: 300;
  text-align: center;
}
.shop .div2 {
  grid-area: 2/1/3/2;
  height: 400px;
  background-color: #2b697a;
  background-color: #2b697a;
  background-image: url(../img/shop.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.histoire {
  background-color: #e0e0e0;
} /*
.img1 {
  background-image: url(../img/mouf3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10rem 2rem 8rem 2rem;
}*/
.timeline {
  position: relative;
  width: 800px;
  margin: 150px auto 0 auto;
  padding-bottom: 150px;
}
.timeline .text-wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-sizing: border-box;
  margin: 50px 0;
}
.timeline .left {
  left: 0;
}
.timeline .right {
  left: 50%;
}
.timeline .text-time {
  padding: 15px 15px 15px 17px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 32px 32px 50px #d0d0d0, -32px -32px 50px #f0f0f0;
}
.timeline .text-time .sur-titre {
  color: #2b697a;
  font-weight: 300;
  font-size: 35px;
  margin-top: 2px;
  text-align: center;
}
.timeline .text-time .date {
  text-transform: uppercase;
  font-size: 15px;
  color: #2f3035;
  letter-spacing: 1px;
  text-align: center;
}
.timeline .text-time .history {
  color: #2f3035;
  font-weight: 300;
  font-size: 18px;
  margin-top: 2px;
  text-align: justify;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #818a91;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.left::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: #f2f2f2;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  background-color: #f2f2f2;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

sup {
  text-transform: lowercase;
}

footer {
  background: #26272b;
  width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 15px;
  line-height: 24px;
  padding: 0 20px;
}
footer img {
  height: 40px;
  width: 40px;
}
footer .line {
  width: 80%;
  height: 0.01rem;
  background-color: #737373;
}
footer .logo-f {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 0 20px;
}
footer ul {
  display: contents;
  list-style: none;
  gap: 10px;
}
footer ul h4 {
  color: #fff;
  text-transform: uppercase;
}
footer ul a {
  color: #737373;
  text-decoration: none;
}
footer ul a:hover {
  color: #818a91;
}
footer ul p {
  color: #818a91;
}/*# sourceMappingURL=styles.css.map */